/* fonts */
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-medium';
    src: url('../fonts/Poppins-Medium.eot');
    src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'slick';
    src: url('../fonts/fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'),
        url('../fonts/slick.woff2') format('woff2'),
        url('../fonts/slick.woff') format('woff'),
        url('../fonts/slick.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins-regular';
}
html,
body,
p,
h1 {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button:hover {
    filter: opacity(.7);
    -webkit-filter: opacity(.7);
    transform: scale(1.1);
}
input[type=submit]:hover {
    filter: opacity(.7);
    -webkit-filter: opacity(.7);
    transform: scale(1.1);
}
/* colors */
:root {
    --main-purple: #6b53ff;
    --poppins-medium: 'Poppins-medium';
    --poppins-semi: 'Poppins-SemiBold';
    --poppins-bold: 'Poppins-Bold';
}
/* utility classes */
.container {
    width: 1170px;
    margin: 0 auto;
}
.font-regular {
    font-family: 'Poppins-Regular';
}
.font-medium {
    font-family: 'Poppins-medium';
}
.font-semi {
    font-family: 'Poppins-SemiBold';
}
.font-bold {
    font-family: 'Poppins-Bold';
}
.text-white {
    color: #FFFFFF;
}
.text-purple {
    color: var(--main-purple);
}
.bg-white {
    background-color: #FFFFFF;
}
.bg-purple {
    background-color: var(--main-purple);
}
.d-flex {
    display: flex;
}
.fd-col {
    flex-direction: column;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderless {
    border: none;
}
.rounded {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.radius {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.pointer {
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}
.fs-30 {
    font-size: 30px;
}
.fs-48 {
    font-size: 48px;
}
.text-capitalize {
    text-transform: capitalize;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.transitioned {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.outline-false {
    outline: none;
}
/* start header */
header {
    padding: 83px 0 122px 0;
}
nav {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 166px;
}
nav ul {
    padding: 0;
    margin: 0;
    justify-content: end;
}
nav ul li {
    margin: 0 12px;
    align-items: center;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul li a {
    /*padding: 15px 15px 15px 15px;
    */
    padding: 15px;
    position: relative;
    line-height: 15px;
}
nav ul li a::after {
    content: "";
    width: 25px;
    height: 4px;
    background-image: url(../images/icons/dotted.png);
    position: absolute;
    /*bottom: -5px;
    */
    bottom: 5px;
    left: 50%;
    /*display: none;
    */
    opacity: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: opacity .2s ease-in-out;
}
/* for contact us btn */
nav ul li a.bg-white:hover::after {
    display: none;
}
nav ul li a:hover::after {
    display: block;
    opacity: 1;
}
nav ul li a.bg-white {
    padding: 15px 30px;
}
nav ul li a.bg-white:hover {
    filter: opacity(.7);
    -webkit-filter: opacity(.7);
    transform: scale(1.1);
}
/* end header */
/* start header content */
.header-content {
    margin-bottom: 170px;
    justify-content: space-between;
}
.header-content .content {
    align-items: start;
    width: 542px;
}
.header-content .content p:first-child {
    margin-bottom: 16px;
}
.header-content h1 {
    margin-bottom: 13px;
}
.header-content p:last-of-type {
    margin-bottom: 51px;
}
.header-content .content button {
    padding: 14px 30px;
    line-height: 17px;
}
.video img:first-child {
    filter: grayscale(70%);
    -webkit-filter: grayscale(70%);
    max-width: 100%;
}
/* start form */
form select::-ms-expand {
    display: none;
}
form select {
    -webkit-appearance: none;
    appearance: none;
    background: url(../images/icons/Arrow-icon.png) right no-repeat;
    background-position: center right 12px;
    border: none !important;
    width: 270px;
    padding: 17px 0;
    color: #a7a7a7;
    line-height: 16px;
}
form select:first-of-type {
    margin-right: 33px;
    padding-left: 14px;
}
form select:last-of-type {
    margin-right: 27px;
    padding-left: 16px;
}
input[type=submit] {
    padding: 0 55px;
}
@-moz-document url-prefix() {
    form {
        border: 1px solid #CCC;
        border-radius: 4px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }
}
/* end header */
/* start services section */
.services {
    justify-content: space-between;
    align-items: center;
    padding: 85px 0 104px;
    background-color: #f4f4f4;
}
.services-wrapper {
    justify-content: space-between;
}
.service {
    justify-content: center;
    align-items: flex-start;
    width: 294px;
}
.service>div {
    height: 170px;
    width: 170px;
    margin-bottom: 19px;
}
.service h1 {
    line-height: 26px;
    margin-bottom: 9px;
}
.service p {
    margin-bottom: 17px;
    line-height: 18px;
}
.service span {
    line-height: 15px;
}
.service span:hover {
    color: #5446b1;
}
/* end services section */
/* start featured posts */
.featured-posts {
    padding-top: 90px;
}
.featured-posts-intro {
    width: 651px;
}
.featured-posts,
.featured-posts-intro {
    margin-bottom: 87px;
}
.slide-image {
    margin-right: 40px;
}
.slide-image img {
    width: 600px;
}
.slide-content {
    justify-content: flex-start;
    align-items: flex-start;
}
.slide-content>p:nth-of-type(2) {
    line-height: 30px;
    margin-bottom: 17px;
}
.slide-content>p:nth-of-type(3) {
    margin-bottom: 25px;
    line-height: 21px;
}
.slide-content button.bg-purple {
    padding: 16px 40px;
    line-height: 13px;
}
.user {
    margin-bottom: 26px;
}
.user-location {
    margin-bottom: 24px;
}
.user-location p {
    line-height: 16px;
}
.user-location img {
    margin-right: 12px;
}
.user img {
    margin-right: 20px;
}
.user-info {
    justify-content: center;
    align-items: start;
}
/* slick diisplay:block changed */
.slick-initialized .slick-slide {
    display: flex;
}
.slick-initialized .slick-slide {
    outline: none;
}
.prev,
.next {
    border: 2px solid #FFFFFF;
    width: 44px;
    height: 44px;
    left: -22px;
}
.prev {
    top: 180px;
}
.next {
    top: 222px;
}
.prev:hover,
.next:hover {
    background-color: #4233a5
}
/* start stats section */
.stats {
    padding: 109px 0 102px;
    background-color: #f3f3f3;
}
.stats-wrapper {
    justify-content: space-between;
    align-items: center;
}
.single-stat img {
    margin-right: 28px;
}
.stats-info {
    justify-content: center;
    align-items: flex-start;
}
.stats-info p:first-child {
    line-height: 24px;
    margin-bottom: 11px;
}
.stats-info p:last-child {
    line-height: 19px;
}
/* end stats section */
/* start properties section */
.properties {
    padding: 81px 47px;
}
.properties-intro {
    width: 650px;
    margin-bottom: 55px;
}
.properties-images {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 28px;
}
.properties-wrapper {
    margin-bottom: 67px;
}
.properties-wrapper button {
    padding: 13px 28px;
}
.property>img {
    max-width: 570px;
    margin-bottom: 29px;
}
.property .overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 570px;
    height: 338px;
    opacity: 0;
}
.property:hover .overlay {
    opacity: 1;
}
.property .content-details,
.property .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 570px;
    height: 338px;
    opacity: 0;
}
.property .content {
    opacity: 1;
    justify-content: flex-end;
    padding: 19px 30px;
}
.property:hover .content-details {
    opacity: 1;
}
.property:hover .content {
    opacity: 0;
}
.icon :first-of-type {
    padding: 12px;
}
.icon :last-child {
    /* padding: 14px 11px; */
    width: 42px;
    height: 42px;
    object-fit: contain;
} 
.icons-wrapper > div:first-of-type {
    margin-right: 9px;
}
/* start testimonials */
.intro-wrapper {
    margin-bottom: 54px;
}
.testimonials-intro {
    width: 650px;
}
/* .testimonial-wrapper {
    padding-bottom: 47px;
} */
.testimonial {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 67px;
}
.testimonial .user-opinion {
    background-color: #f3f3f3;
    width: 969px;
    padding: 73px 114px 51px 131px;
}
/* quotation marks*/
.testimonial .user-opinion img {
    left: 52px;
    top: 39px;
}
.testimonial .user {
    width:145px;
}
.user-avatar img {
    width: 94px;
    margin-bottom: 16px;  
}
.text-wrapper p:last-of-type{
    align-self:flex-start;
}
.arrow-left,
.arrow-right {
    border: 2px solid #FFFFFF;
    width: 44px;
    height: 44px;
    margin: 0 8px;
}
/* end properties section */
/* start subfooter */
.sub-footer {
    padding:75px 0;
}
/*form*/
.form-wrapper {
    border: 2px solid #FFFFFF;
    padding: 50px 0;
    margin-bottom: 76px;
    justify-content: space-around;
    align-items: center;
}
.form-wrapper input[type=email] {
    width: 700px;
    margin-right: 32px;
    padding: 22px 0 23px 28px;
    color: #a7a7a7;
}
.form-wrapper input[type=email]::placeholder{
    color: #a7a7a7;
}
.form-wrapper input[type=submit] {
    width: 300px;
}
/* posts and info */
/* posts */
.postAndinfo-wrapper {
    justify-content: space-between;
    align-items: flex-start;
}
.posts h1 {
    margin-bottom: 44px;
}
.post {
    width: 700px;
    margin-bottom: 29px;
    justify-content: flex-start;
    align-items: center;
}
.post-content {
    justify-content: center;
    align-items: flex-start;
    margin-left: 29px;
}
/* infos */
.infos {
    align-self: stretch;
    justify-content: space-between;
    align-items: flex-start;
}
.infos a:hover{
    color: #a7a7a7;
}
.first-info h1 {
    margin-bottom: 50px;
}
/* footer */
footer {
    border-top: 1px solid #FFFFFF;
    padding: 32px 0 82px;
}
.footer-content {
    justify-content: space-between;
    align-items: center
}
.social-icons{
    justify-content: space-between;
    width: 570px;
}
.social-icons img{
    width: 35px;
    height: 35px;
    position: relative;
}
.social-icons img::after{
    content: "-";
    position: absolute;
    top: 20px;
    color: red;
    background-color: blue;
}